//
// Name:            Buttons
//
// Description:     Contains all button styles
//
// ========================================================================
// Component
// ========================================================================

button {
	&:hover {
		cursor: pointer;
	}
}

.btn {
	display: inline-block;
	height: 40px;
	@include font-bold;
	@include font-size(16);
	line-height: 40px;
	color: $white;
	padding: 0 15px;
	border: 0;
	border-radius: 5px;
	box-shadow: 3px 3px 0 0 $dark-blue-primary;
	appearance: none;
	transition: background-color 0.3s ease;

	&:hover {
		color: $white;
		background-color: $dark-blue-primary;
		outline: 0;
	}

	&:focus {
		outline: 1px solid $orange-primary;
		outline-offset: 3px;

		&.active,
		&:active {
			outline: 0;
		}
	}

	&::after {
		content: url("../images/icon-triangle.svg");
		position: relative;
		right: 0;
		display: inline-block;
		width: 9px;
		height: 21px;
		margin-left: 10px;
		vertical-align: -5px;
	}

	&--orange {
		background-color: $orange-primary;
	}

	&--green {
		background-color: $green-1;
	}

	&--large {
		height: 55px;
		@include font-size(21);
		line-height: 22px;
		padding: 0 20px;

		&::after {
			margin-left: 20px;
		}
	}
}

.top {
	position: fixed;
	bottom: 50px;
	right: 50px;
    display: none;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	appearance: none;
	z-index: 800;
    @include breakmax($tablet) {
        bottom: 10px;
    	right: 10px;
	}

	&:hover {
		svg {
			circle {
				fill: $black;
			}
		}
	}

	&:focus {
		outline: 1px solid $orange-primary;

		&.active,
		&:active {
			outline: 0;
		}
	}

	svg {
		width: 80px;
		height: 80px;

		@include breakmax($mobile) {
			width: 40px;
			height: 40px;
		}

		circle {
			fill: $orange-primary;
			transition: fill 0.3s ease;
		}
	}
}

.button-cnt {
	display:flex;
	flex-direction:column;

	@media only screen and (max-width: 1023px) and (min-width: 1px) {
		padding-right:75px;
	}
	@media only screen and (max-width: 767px) and (min-width: 1px) {
		padding-right:0;
		max-width:210px;
		text-align:center;
		margin:0 auto;
	}
	.btn {
		margin:0 auto 10px 0;

		@media only screen and (max-width: 767px) and (min-width: 1px) {
			margin:0 auto 10px auto;
		}
	}
	.legal {
		display:inline-flex;
		align-items:center;
		align-self:flex-start;
		position:relative;
		@include font-size(14);
		text-align: left;
		line-height: 17px;
		white-space:nowrap;
		margin:0 auto 0 0;
		text-decoration:none;
		padding:0;
		background:transparent;
		border:none;
		overflow:visible;
		cursor:pointer;

		@media only screen and (max-width: 1200px) and (min-width: 1px) {
			@include font-size(10);
			line-height:12px;
		}
		@media only screen and (max-width: 767px) and (min-width: 1px) {
			@include font-size(8);
			line-height:13px;
		}
		sup {
			top:10px;
			left:0;
			position:absolute;
		}
		span.help {
			display:inline-flex;
			width:20px;
			min-width:20px;
			height:20px;
			border-radius:100%;
			@include font-medium;
			@include font-size(10);
			line-height: 19px;
			text-indent: 7px;
			color: $white;
			text-align: center;
			background:$dark-blue-primary;
			margin:0 0 0 10px;

			@media only screen and (max-width: 1200px) and (min-width: 1px) {
				width:13px;
				min-width:13px;
				height:13px;
				line-height: 13px;
				text-indent: 4px;
			}
		}
		span.tooltip {
			display:none;
			position:absolute;
			top:40px;
			left: calc(100% - 170px);;
			max-width:550px;
			min-width:550px;
			padding:15px 20px;
			background:$dark-blue-primary;
			border-radius:16px;
			z-index:9;
			@include font-medium;
			@include font-size(18);
			color: $white;
			text-align: left;
			line-height: 25px;

			p {
				@include font-medium;
				@include font-size(18);
				color: $white;
				text-align: left;
				line-height: 25px;
				margin:0;
				white-space:normal;

				@media only screen and (max-width: 1200px) and (min-width: 1px) {
					@include font-size(16);
					line-height:22px;
				}
			}
			&:before {
				position:absolute;
				content:'';
				top:-15px;
				left:145px;
				width: 0;
				height: 0;
				border-top: 15px solid transparent;
				border-right: 30px solid $dark-blue-primary;
				border-bottom: 15px solid transparent;
				transform: rotate(90deg);
			}
			.close {
				display:none;
			}
		}
		&:hover .help {
			//background:$white;
		}
		&:focus span.tooltip,
		&:hover span.tooltip {
			display:block;
		}
		@media only screen and (max-width: 1023px) and (min-width: 1px) {
			span.tooltip {
				display:none !important;
			}
		}
	}
	span.mobile-tooltip {
		display:none;
	}
	@media only screen and (max-width: 1023px) and (min-width: 1px) {
		span.mobile-tooltip {
			position:fixed;
			top:50%;
			left:50%;
			margin:0;
			transform:translate(-50%, -50%);
			min-width:550px;
			max-width:550px;
			z-index:999;
			padding:15px 30px;
			background:$dark-blue-primary;
			border-radius:16px;
			@include font-medium;
			@include font-size(14);
			color: $white;
			text-align: left;
			line-height: 20px;

			p {
				margin:0;
				@include font-size(14);
				color: $white;
				text-align: left;
				line-height: 20px;
			}
			.close {
				display:block;
				position:absolute;
				top:10px;
				right:10px;
				width:16px;
				height:16px;
				background:url('../images/icon-close.svg') 50% no-repeat;
				background-size:16px 16px;
				padding:0;
				border:none;
				cursor:pointer;

				span {
					position:absolute;
					top:0;
					left:0;
					text-indent:-9999px;
				}
			}
			&:before {
				display:none;
			}
		}
	}
	@media only screen and (max-width: 767px) and (min-width: 1px) {
		span.mobile-tooltip {
			min-width:280px;
			max-width:280px;
		}
	}
	@media only screen and (max-height: 476px) and (min-height: 1px) {
		.button-cnt span.mobile-tooltip {
			top:50px;
			transform:translate(-50%, 0);
		}
	}
}