// Variables
$white: #FFFFFF;
$black: #212529;
$dark-grey: #495057;
$grey: #CED4DA;
$light-grey: #ecf0f1;
$dark-green: #008839;
$green: #27AE60;
$light-green : #03B54D;
$dark-blue: #0d47a1;
$blue: #1565c0;
$light-blue: #1976d2;
$very-light-blue: #1e88e5;
$light-red: #E74C3C;
$red: #c0392b;
